<div className="form-container">
    <h1 className="form-title" id="form-title">Login Form</h1>
  
    <form id="loginForm">
      <label for="loginEmail" className="form-label">Email:</label>
      <input type="email" id="loginEmail" name="loginEmail" className="form-input" required>
  
      <label for="loginPassword" className="form-label">Password:</label>
      <input type="password" id="loginPassword" name="loginPassword" className="form-input" required>
  
      <button type="submit" className="form-button">Login</button>
      <span className="form-switch-link" onclick="switchToRegister()">Don't have an account? Register here</span>
    </form>
  </div>
  